
.bespoke-slide
  background none

// Backgdrop
.start
  background url(../images/bg-start.jpg) 0 0 no-repeat
  background-size cover

.looking-around
  background url(../images/looking-around.gif) 0 0 no-repeat
  background-size cover

.not-bad
  background url(../images/not-bad.jpg) 0 0 no-repeat
  background-size cover

.asphalt
  background-color color-asphalt

.bg-yellow.bespoke-backdrop-active
  background-color color-yellow
  opacity 1

.bg-white.bespoke-backdrop-active
  background-color white
  opacity 1

.bg-red.bespoke-backdrop-active
  background-color color-red
  opacity 1
