
// Colors
.text-color-yellow
  color color-yellow
.text-color-green
  color color-emerald
.text-color-violet
  color color-amethyst
.text-color-red
  color color-red
.text-color-gray
  color color-asphalt
.text-color-orange
  color color-carrot

.text-emphasis
  background-color darken(color-yellow, 20%)
  padding 0 6px
